<app-nav-bar-customer></app-nav-bar-customer>

<div class="container">
  <br /><br />
  <div class="row">
    <div class="col-sm-3">
      <label for="firstName" class="form-label"><b>Brand</b></label>
      <select
        class="form-select"
        id="brand"
        [(ngModel)]="searchCarDto.brand"
        [ngModelOptions]="{ standalone: true }"
      >
        <option value="" disabled selected>Select a Brand</option>
        <option *ngFor="let brand of brands" value="{{ brand }}">
          {{ brand }}
        </option>
      </select>
    </div>

    <div class="col-sm-3">
      <label for="lastName" class="form-label"><b>Type</b></label>

      <select
        class="form-select"
        id="type"
        [(ngModel)]="searchCarDto.type"
        [ngModelOptions]="{ standalone: true }"
      >
        <option value="" disabled selected>Select a type</option>
        <option *ngFor="let type of types" value="{{ type }}">
          {{ type }}
        </option>
      </select>
    </div>

    <div class="col-sm-3">
      <label for="lastName" class="form-label"><b>Color</b></label>

      <select
        class="form-select"
        id="color"
        [(ngModel)]="searchCarDto.color"
        [ngModelOptions]="{ standalone: true }"
      >
        <option value="" disabled selected>Select a Color</option>
        <option *ngFor="let color of Colors" value="{{ color }}">
          {{ color }}
        </option>
      </select>
    </div>

    <div class="col-6">
      <br /><br />
      <label for="username" class="form-label"><b>Transmission</b></label>

      <select
        class="form-select"
        id="Transmission"
        [(ngModel)]="searchCarDto.transmission"
        [ngModelOptions]="{ standalone: true }"
      >
        <option value="" disabled selected>Select a Transmission</option>
        <option
          *ngFor="let transmission of transmissions"
          value="{{ transmission }}"
        >
          {{ transmission }}
        </option>
      </select>
    </div>

    <div>
      <br /><br />
      <button type="button" class="btn btn-primary" (click)="searchCar()">
        <i class="bi bi-search"></i> Search Car
      </button>
    </div>
  </div>

  <br /><br />

  <div class="row">
    <div class="row mt-2" *ngFor="let car of carDetailsList">
        <div class="col-3">
            <img [src]="car.img" class="img-thumbnail" alt="... " width="300rem">
        </div>
        <div class="col-9">
            <h2 class="text" ><b>{{car.brand}} - {{car.name}}</b></h2>
            <p>{{car.description}}</p>

            <hr><br>
            <div class="lable">
                <br>
                <h4 class="text-center ">Price : <b>${{car.price}}</b> | Color : <b>{{car.color}}</b> | Transmission : <b>{{car.transmission}}</b> | Type : <b>{{car.type}}</b> | Model Year : <b>{{car.year | date: 'yyyy'}}</b></h4>
            </div>
            
            <hr>
            <div class="text-end">
                
            </div>
        </div>
  </div>
</div>
