


.lable{
    background-color:#adadeb !important;
    height: 8vh !important;
    text-align: center !important;

}

.btn{

    
    align-items: center !important;
    width: 110px !important;
    
}

.button-div{
    text-align: right !important;
}

